.WhiteOnBlack{
    color:$black;
    background: white;
}
.WhiteOnBlack:hover{
    background-color:rgba(255, 255, 255, 1);
    color:#00b2ed;
}


#IntroMessage{
    margin-bottom:7px;
    display:inline;
}

#Wax{
    z-index:5;
    display: block;
}
#mat{
    position: absolute;
}
.inline{
    display: inline;
    margin-left: 66.8%;
}
#intro{
    height: 100vh;
}


body{
    transition:1s;
    background: #111
}