#sicpa{
    h1{
        color: rgb(251, 91, 203);
        text-shadow: 5px 5px 0px lightseagreen;
        margin-top: 30vh;
        margin-bottom: 20px;
    }
    
    p{
        color: black;
    }
}