img{
    display: float;
    float: right;
    width: 100%;
    z-index:100000;
    transition:.7s
}

#wax{
    margin-top:220px;
    border:none;
}

figure{
    margin: 0;
    float:right;
    background: $blue;
}

figure:hover img{
    opacity: 0.6;
}

#osec3{

}

.img{
    &--manor{
        transform: scaleX(0);
        transition:1s;
        transform-origin:left;
        &--left{
            transform-origin:right;
        }
    }
    &--osec{
        transform: scaleX(0);
        transition:1s;
        transform-origin:left;
        &--left{
            transform-origin:right;
        }
    }
}

.decoration{
    &--osec{
        height:30%;
    }
}

