.lines{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    pointer-events: none;
    z-index: -1;
}
.line{
    width: calc(100 / 6 * 1% - 0.9px);
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid #404040;
    transition: border-color .6s cubic-bezier(.4,0,.2,1);
    background-clip: padding-box;
}